article
{
    padding:5px;
    border:dotted 3px #ff006e;
    margin-top:5px;
    background:#44D43B;
}

header
{
    padding:0px;
    text-align:center;
    color:blue;
    background: #e5e5e5;
}
a 
{
  text-decoration: none;
  color:gray;
}
a:hover, a:active {
  background-color: pink;
  color:blue;
}
aside
{
    margin-top:5px;
    width: 58%;
    background-color:#f0eaea;
    padding:5px;
    text-align:center;
    font-style:italic;
    border:double 3px #b200ff;
}

section
{
    padding:5px;
    width: 58%;
    border:dashed 3px #0026ff;
    margin-top:5px;
}

footer
{
    padding:5px;
    text-align:center;
    font-weight:bold;
}

nav
{
    text-align:center;
    background: #e5e5e5;
}
ul li
{
    display:inline;
    padding-left:5px;
    padding-right:5px;
    text-align:left;
    font-size:16px;
    font-weight:bold;
}
#sidebar {
     float: right;
     width: 38%;
     min-height: 330px;
     background: #e5e5e5;
}
p {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: left;
	}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 150%; 
  }

input:focus{
   width: 500px;
}

  to {
    margin-left: 0%;
    width: 100%;
  }
75% {
  font-size: 140%;
  margin-left: 25%;
  width: 150%;
  }

}

input {
  border-radius: 5px;
  border: 0;
  width: 300px;
  height: 55px;
  padding: 0 5px;
  transition: all 6s;
  
	
}
